<div id="wrapper">
	<div class="form">
		<h1>Sign Up!</h1>
		<h4>Sign up today, for free! Join the conversation! Bark with dogs all over the world!</h4>
		<div id="sign_up_form"><%= render 'form' %>
		  <div id="check_out_users"><%= link_to 'Search Users!', users_path %></div>
		</div>
	</div>
	<div id="big_dogs">
		<img src="/assets/big_dogs.JPG" width="500px">
	</div>
	<div id="footer">
		<p id="copyright">&#169 2015 Bark. - All rights reserved.</p>
	</div>
</div>
