<div id="wrapper">
	<h1>Welcome to Bark!</h1>
	<h4>The first social network for dogs!</h4>
	<h1 id="who_let">Who let the dogs out?</h1>
 	<br>
 	<img src="/assets/bark_logo_2.png" height="50px">
 	<br>
 	<img src="/assets/bark_logo_2.png" height="50px"> <img src="/assets/bark_logo_2.png" height="50px"> <img src="/assets/bark_logo_2.png" height="50px">
  	<img id="dog_group" src="/assets/dog_group.jpg" width="90%">
  <div id="footer">
    <p id="copyright">&#169 2015 Bark. - All rights reserved.</p>
  </div>
</div>