<div id="wrapper">
    <div id="bark_feed">
      <% Post.all.reverse.each do |post| %>
        <p id="user_name_feed"><a href="/users/<%= post.user.id %>"><%= post.user.fname + " " + post.user.lname %></a>:</p>
        <p id="post_body"><%= post.body %></p>
        <p id="post_date"><%= post.created_at.strftime('%m-%d-%Y %I:%M:%S %P') %></p>
      <% end %>
    </div>
    <div id="footer">
   		<p id="copyright">&#169 2015 Bark. - All rights reserved.</p>
    </div>
</div>