<h1>New Bark!</h1>
<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<% @post.errors.full_messages.each do |error| %>
			<p><%= error %></p>	
		<% end %>
	<% end %>

	<div>
	  <%= f.text_area :body, placeholder: "Write your bark here!" %>
	</div>	
	<div>
	  <%= f.submit "Bark!" %>
	</div>	
<% end %>