body {
	background-color: #8a8587;
	font-family: helvetica;
}
#wrapper {
	background-color: #ffffff;
	width: 900px;
	margin: 0 auto;
	border: 5px solid #454243;
}
#header {
	height: 100px;
	width: 900px;
	margin: 0 auto;
	background-color: #454243;
	border: 5px solid #454243;
}
#footer {
	clear: both;
	height: 75px;
	width: 0 auto;
	background-color: #454243;
	color: #f79256;
	text-align: center;
	padding-top: 25px;
}
#logo {
	float: left;
}
ul {
}
li {
	float: right;
	list-style-type: none;
	text-transform: uppercase;
	margin: 5px;
	margin-top: 60px;
	font-size: 14px;
}
#sign_up_form {
	width: 35%;
	background-color: #e8e3d9;
	float: left;
	padding: 10px;
	margin-bottom: 20px;
}
.form_list {
	text-align: right;
}
#big_dogs {
	float: right;
	margin-right: 30px;
}
.form {
	float: inline-block;
	margin: 30px 0px 30px 50px;
	text-align: center;
}
#main {	
	clear: both;
	height: 100%;
	width: 0 auto;
}
a {
	font-size: 14x;
}
a:link, a:visited { 
	color: #f79256;
	text-decoration: none;
}
a:hover {
	color: #ffffff;
}
.button input {
	margin: 2px 4px 0px 0px;
	border: 2px solid #8a8587;
	background-color: #c2dde5;
	font-size: 12px;
}
#check_out_users {
	padding-top: 10px;
}
#profile_photo {
	margin: 20px;
	float: left;
}
#my_barks {
	border: 3px solid #454243;
	float: right;
	width: 65%;
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: #e8e3d9;
	padding: 5px 10px;
}
#user_info {
	width: 30%;
	border: 2px solid red;
	float: left;
}
#user_name {
	background-color: #c2dde5;
	color: #8a8587;
	padding: 4px 0px;
}
#hello {
	text-transform: none;
	font-style: italic;
	margin-right: 10px;
	font-size: 20px;
	color: #ffffff;
}
#post_body {
	font-weight: bold;
	color: #454243;
}
#post_date {
	font-style: italic;
	font-size: 14px;
	color: #8a8587;
}
.dog_bark {
	float: left;
	margin-left: 200px;
}
#text_area .input {
	background-color: #c2dde5;
	width: 40%;
}
#welcome {
	text-align: center;
}
.icon {
	float: right;
	margin: 45px 5px 0px 10px;
	background-color: #8a8587;
	padding: 4px 4px 0px 4px;
}
#ready_to_bark {
	text-align: center;
}
#post_body {
	width: 500px;
	height: auto;
	font-size: 14px;
}
#notice {
	background-color: yellow;
	position: fixed;
	left: 40%;
	opacity: 0.6;
}
#alert {
	background-color: red;
	position: fixed;
	left: 40%;
	opacity: 0.6;
}
#dogs_barking {
	float: left
	width: 30%;
	margin: 0px 0px 30px 70px;
}
#find_friends {
	float: left;
	width: 60%;
	text-align: center;
}
#users_list {
	background-color: #e8e3d9;
	width: 30%;
	font-weight: bold;
	margin: 20px;
	text-align: center;
	float: left;
}
#bark_users {
	background-color: #c2dde5;
	color: #454243;
	text-align: center;
	padding: 4px 0px;
}
h1, h4 {
	text-align: center;
}
#login_form {
	width: 25%;
	background-color: #e8e3d9;
	float: left;
	padding: 10px;
	margin-bottom: 20px;
	text-align: right;
}
#bark_feed {
	border: 2px solid black;
	width: 60%;
	margin-left: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #e8e3d9;
	padding: 0px 10px;
}
#user_name_feed {
	font-weight: bold;
	font-size: 16px;
	padding: 4px 0px 4px 4px;
	background-color: #c2dde5;
	color: #8a8587;
}
#user_name_find {
	font-weight: bold;
	font-size: 16px;
	padding-left: 4px;
	color: #8a8587;
	text-align: center;
	background-color: #c2dde5;
	padding: 4px;
	width: 20%;
	margin-left: 40%;
}
#find {
	float: left;
	width: 40%;
	margin-top: 200px;
}
#search {
	float: left;
}
#adam {
	float: right;
}
#crazy {
	float: left;
	margin-top: 83px;
}
#golden {
	float: right;
	margin: 25px 35px 0px 0px;
}
#search_bar {
	width: 25%;
	margin: 20px 0px 0px 40px;
	text-align: center;
}