body {
	background-color: #8a8587;
}
#wrapper {
	background-color: #ffffff;
	width: 900px;
	margin: 0 auto;
	border: 5px solid #454243;
}
header {
	height: 200px;
	width: 900px;
	margin: 0 auto;
	background-color: #454243;
}
